In [1]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [2]:
# 1. 데이터 준비 - 독립변수와 종속변수를 나누어 데이터를 준비해야 한다.
파일경로 = "https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv"
데이터 = pd.read_csv(파일경로)

# 데이터를 잘 읽어들였는지 확인한다.
print(데이터.columns)
데이터.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [3]:
# 독립변수와 종속변수 나누기
독립 = 데이터[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속 = 데이터[['medv']]

print(독립.shape,종속.shape) # shape를 이용해서 항상 눈으로 체크해준다.

(506, 13) (506, 1)

In [6]:
# 2. 모델의 구조를 만든다.
X = tf.keras.layers.Input(shape=[13])
H = tf.keras.layers.Dense(10, activation='swish')(X) # 히든 레이어
Y = tf.keras.layers.Dense(1)(H)
model = tf.keras.models.Model(X,Y)
model.compile(loss='mse')

In [11]:
model.summary() # 모델 확인 # Param -> 가중치

Model: "model_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_2 (InputLayer)         [(None, 13)]              0
_________________________________________________________________
dense_1 (Dense)              (None, 10)                140
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 11
=================================================================
Total params: 151
Trainable params: 151
Non-trainable params: 0
_________________________________________________________________

In [8]:
# 3. 모델을 학습(FIT)시킨다.
model.fit(독립, 종속, epochs=1000, verbose = 0) # verbose = 0 : 학습시키는 동안 출력이 안되게 만든다.

In [13]:
# 4. 모델을 이용한다.
model.predict(독립[0:5])

array([[27.972813],
       [23.017782],
       [29.160046],
       [28.360828],
       [27.772354]], dtype=float32)

In [14]:
# 5. 모델의 수식 확인
model.get_weights()

[array([[-0.4957886 , -0.46256757,  0.09879804, -0.22347738, -0.06367225,
          0.01844388, -0.43402255,  0.45092   ,  0.19587821,  0.2688119 ],
        [-0.1599518 ,  0.00535255,  0.2594813 ,  0.19512184,  0.3773814 ,
          0.283184  ,  0.17360455, -0.14440945,  0.35555393,  0.11231259],
        [-0.36824065, -0.15656982, -0.43460003, -0.23783056,  0.02408058,
         -0.06508049,  0.32114983, -0.38141337,  0.33396614,  0.3037004 ],
        [ 0.09060293, -1.4349248 ,  1.4070373 ,  1.1389076 , -1.9323723 ,
          0.0975284 , -0.21193606, -1.2414236 ,  0.18321657,  1.8751225 ],
        [-0.34608352, -0.47340706,  1.1001965 ,  1.237982  , -0.74853194,
         -0.37689167, -0.3622175 , -1.320968  , -0.2958042 ,  0.79498833],
        [ 0.46564245, -1.7891364 ,  1.9715385 ,  2.5876899 , -2.0133069 ,
          0.17860186, -0.46416873, -1.8331952 ,  0.35416657,  2.162877  ],
        [ 0.46318287,  0.17133778, -0.21994518,  0.1807035 , -0.01427298,
         -0.0768137 ,  0.33776444, -0.2058813 ,  0.14129251, -0.31006038],
        [-0.38942432,  0.13567063, -0.7975039 , -0.20510237,  0.10961224,
         -0.28163433,  0.44828463,  0.8568427 ,  0.20136994, -0.7640923 ],
        [-0.2991531 , -0.21263209,  0.43683252,  0.07148512,  0.11378328,
         -0.03455693, -0.09855059,  0.07357535,  0.35066134,  0.07792716],
        [-0.09422536,  0.14311339,  0.34464353,  0.08438782,  0.0738491 ,
         -0.17564315, -0.5093982 ,  0.4350476 , -0.14211631,  0.3022922 ],
        [-0.13680017,  0.48492166, -0.39637664,  0.15007536, -0.32234317,
          0.44240552, -0.09833226,  0.3535853 , -0.01715407, -0.26226816],
        [-0.37768295, -0.0598347 ,  0.17307854,  0.20679238,  0.2001037 ,
         -0.09757262, -0.29107624,  0.09348823, -0.32511917, -0.04126727],
        [-0.14347711,  0.5188926 , -0.18364502,  0.13955367,  0.48581657,
          0.48152936,  0.39320403,  0.21589375, -0.09202194, -0.42866847]],
       dtype=float32),
 array([-1.9743596e-10, -1.4793490e+00,  1.4826919e+00,  1.4837061e+00,
        -1.5041485e+00, -7.2737255e-12,  0.0000000e+00, -1.5096958e+00,
         1.6609042e-18,  1.4550747e+00], dtype=float32),
 array([[-0.00089181],
        [-0.15699607],
        [ 0.4192425 ],
        [ 0.43240285],
        [-0.55750567],
        [ 0.13461006],
        [ 0.69748217],
        [-0.42419046],
        [-0.03103179],
        [ 0.17683336]], dtype=float32),
 array([1.4970703], dtype=float32)]