In [3]:
# 라이브러리 사용
import tensorflow as tf
import pandas as pd

In [5]:
# 1. 데이터 준비 - 독립변수와 종속변수를 나누어 데이터를 준비해야 한다.
파일경로 = "https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv"
데이터 = pd.read_csv(파일경로)

# 데이터를 잘 읽어들였는지 확인한다.
print(데이터.columns)
데이터.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [7]:
# 독립변수와 종속변수 나누기
독립 = 데이터[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
종속 = 데이터[['medv']]

print(독립.shape,종속.shape) # shape를 이용해서 항상 눈으로 체크해준다.

(506, 13) (506, 1)

In [8]:
# 2. 모델의 구조를 만든다.
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X,Y)
model.compile(loss='mse')

In [11]:
# 3. 모델을 학습(FIT)시킨다.
model.fit(독립, 종속, epochs=10) # verbose = 0 : 학습시키는 동안 출력이 안되게 만든다.

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 24.5319
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 24.7653
Epoch 3/10
16/16 [==============================] - 0s 2ms/step - loss: 24.6484
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 25.1823
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 24.3117
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 24.6026
Epoch 7/10
16/16 [==============================] - 0s 2ms/step - loss: 25.5270
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 24.6400
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 24.6949
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 25.0532

In [13]:
# 4. 모델을 이용한다
model.predict(독립[0:5]) # 0번째부터 5번째까지만 사용한다.

array([[29.302591],
       [24.155378],
       [30.55375 ],
       [29.507652],
       [29.056686]], dtype=float32)

In [15]:
# 5. 모델의 수식 확인
model.get_weights() # 모델은 회귀 모델과 동일한 모델이지만, 학습하는 방법(알고리즘)에서 차이가 있기 때문에 회귀분석을 통해 구해지는 회귀식의 결과와는 차이가 있다.

[array([[-0.08651441],
        [ 0.05689389],
        [-0.04553849],
        [ 2.9739034 ],
        [ 1.7876146 ],
        [ 5.0169573 ],
        [-0.00640783],
        [-0.98485285],
        [ 0.17211883],
        [-0.01063538],
        [-0.30490735],
        [ 0.01374007],
        [-0.49066076]], dtype=float32), array([3.512949], dtype=float32)]