In [ ]:
import pandas as pd

In [ ]:
# 현재 품종 데이터를 숫자로 바꾸어 놓은 상태(품종마다 0, 1, 2..)이지만 범주형 데이터이다.
파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris2.csv'
아이리스 = pd.read_csv(파일경로)
아이리스.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [ ]:
#1.
# 원핫인코딩
인코딩 = pd.get_dummies(아이리스) # 숫자가 아닐 경우만 적용되므로 현재는 제대로 사용되지 못한다.
인코딩.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [ ]:
# 데이터 타입 확인한다.
# 범주형의 경우에는 category나 object
아이리스.dtypes

꽃잎길이     float64
꽃잎폭      float64
꽃받침길이    float64
꽃받침폭     float64
품종         int64
dtype: object

In [ ]:
# 품종 타입을 범주형으로 바꾸어 준다.
아이리스['품종'] = 아이리스['품종'].astype('category')
print(아이리스.dtypes)

꽃잎길이      float64
꽃잎폭       float64
꽃받침길이     float64
꽃받침폭      float64
품종       category
dtype: object

In [ ]:
# int -> category 이기 때문에 다시 get_dummies를 사용한다.
인코딩 = pd.get_dummies(아이리스)
인코딩.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [ ]:
# 2.
# NA 값 체크한다.
# NA를 가진 관측치를 조회하고 싶다면, 아이리스[아이리스['꽃잎폭'].isna()] -> boolean indexing
아이리스.isna().sum()

꽃잎길이     0
꽃잎폭      1
꽃받침길이    0
꽃받침폭     0
품종       0
dtype: int64

In [ ]:
# 실제로 NA 값을 지워주거나 프로그래밍 상 다른 값으로 바꾸어주어야 한다.
# NA 값에 꽃잎폭 평균값을 넣어주는 방법
mean = 아이리스['꽃잎폭'].mean()
아이리스['꽃잎폭'] = 아이리스['꽃잎폭'].fillna(mean)